  <div  class="cby">
      <storeBasic></storeBasic>
      <div class="tb">
        <nz-table
          #ajaxTable
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="dataSet"
          [nzLoading]="loading"
          [nzTotal]="total"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)"
          [nzScroll]="{ x:'1500px' }">
          <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th nzShowCheckbox [nzSelections]="listOfSelection" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
              <th nzWidth="100px" nzLeft="0px">
                  <img src="../../../assets/icon/user.svg">用户名</th>
              <th nzWidth="150px" nzLeft="100px" >
                  <img src="../../../assets/icon/Relationship.svg">用户类型</th>
              <th><img src="../../../assets/icon/email.svg">邮箱</th>
              <th><img src="../../../assets/icon/Customer.svg">客户</th>
              <th><img src="../../../assets/icon/friends.svg">伙伴</th>
              <th>Column 4</th>
              <th>Column 5</th>
              <th>Column 6</th>
              <th>Column 7</th>
              <th>Column 8</th>
              <th nzWidth="50px" nzRight="0px">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ajaxTable.data">
                <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
                <td nzLeft="0px">{{data.name.first}} {{data.name.last}}</td>
                <td nzLeft="100px">{{data.gender}}</td>
                <td>{{data.email}}</td>
                <td>{{data.email}}</td>
                <td>{{data.email}}</td>
                <td>{{data.email}}</td>
                <td>{{data.email}}</td>
                <td>{{data.email}}</td>
                <td>{{data.email}}</td>
                <td>{{data.email}}</td>
                <td nzRight="0px" class="action">
                  <div style="position:relative; z-index:1;width: 10px;" class="clearfix">
                    <a (click)="showDiv($event)"><img src="../../../assets/icon/more.svg"></a>
                      <div  class="m-set lf" style="display:none" >
                        <div class="mjj"></div>
                        <a><img src="../../../assets/icon/xiugai.svg"  style="margin-left: 6px;"></a>
                        <a><img src="../../../assets/icon/shanchu.svg"></a>   
                        <a><img src="../../../assets/icon/chaiji.svg"></a>
                        <a><img src="../../../assets/icon/sim.svg"></a> 
                        <a><img src="../../../assets/icon/shebei.svg"></a>
                        <a><img src="../../../assets/icon/update.svg"></a>   
                      </div>
                  </div>  
                </td>            
            </tr>
          </tbody>
        </nz-table>
      </div>
      <footer class="footer">Ant Design ©2017 Implement By Angular</footer>    
  </div>
 